<form name"questionForm" novalidate="true" ng-submit="onSubmit()">
	<p ng-show="mensagem.length" class="alert alert-info">
		{{mensagem}}
	</p>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Perguntas</h2>
			
		</div>

		<div class="panel-body">
			<div class="row">
				<div class=" form-group">
					<div class="m-l-10  form-group" ng-repeat="p in perguntas track by $index">
						<h4><strong>{{$index +1 }} - {{p.titulo}}</strong></h4>
						<div class="  form-group">
							<div ng-repeat="r in p.respostas track by $index " class="m-l-25 radio">
								<label>
									{{indice[$index]}})
								</label>
								<label>	
									<input ng-click="adicionaResposta(r.id, r.serieId, p.id, p.peso)" 
									name="{{p.id}}" 
									type="radio" required>
									{{r.titulo}}
								</label>

							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>	
	<p ng-show="fraseFinal.length" class="alert alert-info">
		{{fraseFinal[0].Frase}}
	</p>
	<button type="button" class="btn btn-success btn-block btn-lg" ng-click="onSubmit()" >
		Enviar Respostas
	</button>
	<button type="button" class="btn btn-danger btn-block btn-lg" ng-click="onRecover()" >
		Responder Novamente
	</button>
</form>


<!-- <p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<ul>
		<li ng-repeat="p in perguntas"> 
		{{p.titulo}}	
		<select ng-options="respostas in p.respostas"></select>
		</li>
	</ul>


	<div ng-repeat="p in perguntas">
		{{p.titulo}}
		<div ng-repeat="respostas in p.respostas">
			{{respostas.titulo}}
		</div>
	</div>

	<meu-painel class="col-md-2 painel-animado" ng-repeat="perguntas in perguntas" titulo="{{perguntas.titulo}}">
		
	</meu-painel> 
</div> -->